<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="avatar-box">
            <img id="profileImage" th:src="${userDetail.avatar != null ? '/image/' + userDetail.avatar  : '/images/profile-image.png'}" alt="Profile Picture">
            <form method="post" th:action="@{/update-avatar}" enctype="multipart/form-data">
                <input type="file" id="avatarInput" name="avatar" accept="image/*" class="file-input" onchange="previewImage(event)">
                <button type="submit" class="btn-change"><i class="bi bi-camera-fill"></i> Change Profile picture</button>
            </form>
        </div>
        <nav class="menu">
            <a href="profile" class="active">Personal information</a>
            <a href="#">Transaction history</a>
            <a href="security">Security</a>
        </nav>
    </aside>

    <!-- Main content -->
    <main class="content">
        <h2>Personal information</h2>
        <form class="profile-form" th:action="@{/profile}" th:object="${userDetail}" method="post">
            <div class="info-row">
                <label for="name">Full name</label>
                <input type="text" id="name" name="name" th:value="${userDetail.name}">
            </div>
            <div class="info-row">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" th:value="${user.email}">
            </div>

            <div class="info-row">
                <label for="phone">Phone number</label>
                <input type="text" id="phone" name="phone" th:value="${userDetail.getPhone()}">
            </div>

            <div class="info-row">
                <label for="birthday">Birthdate</label>
                <input type="date" id="birthday" name="birthday" th:value="${#dates.format(userDetail.birthday,'yyyy-MM-dd')}">
            </div>
            <button type="submit" class="btn-edit">Edit Profile ✎</button>
        </form>
    </main>
</div>
<script src="/js/profile.js"></script>
</body>

</html>